@model PlatformEducationWorkers.Request.AccountRequest.UpdateUserCredentialsRequest

@{
    ViewData["Title"] = "EditCreadentials";

    if (ViewBag.UserRole == PlatformEducationWorkers.Core.Models.Role.Admin.ToString())
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (ViewBag.UserRole == PlatformEducationWorkers.Core.Models.Role.Workers.ToString())
    {
        Layout = "~/Views/Shared/_LayoutWorker.cshtml";
    }
}



<h2>Редагування логіна та пароля</h2>
<form asp-action="EditCredentials" method="post">
    <div class="form-group">
        <label asp-for="NewLogin">Новий логін</label>
        <input type="text" asp-for="NewLogin" class="form-control" />
        <span asp-validation-for="NewLogin" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword">Новий пароль</label>
        <input type="password" asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>
