@model PlatformEducationWorkers.Request.AccountRequest.UpdateUserCredentialsRequest

@{
    ViewData["Title"] = "EditCredentials";

    if (ViewBag.UserRole == PlatformEducationWorkers.Core.Models.Role.Admin.ToString())
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (ViewBag.UserRole == PlatformEducationWorkers.Core.Models.Role.Workers.ToString())
    {
        Layout = "~/Views/Shared/_LayoutWorker.cshtml";
    }
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header text-center bg-primary text-white">
            <h2>Редагування логіна та пароля</h2>
        </div>
        <div class="card-body">
          
            <form asp-action="EditCredentials" method="post" enctype="multipart/form-data">
                <!-- Поля для логіна та пароля -->
                <div class="form-group mb-3">
                    <label asp-for="NewLogin" class="form-label"><strong>Новий логін</strong></label>
                    <input type="text" asp-for="NewLogin" class="form-control border-primary" placeholder="Введіть новий логін" />
                    <span asp-validation-for="NewLogin" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="NewPassword" class="form-label"><strong>Новий пароль</strong></label>
                    <input type="password" asp-for="NewPassword" class="form-control border-primary" placeholder="Введіть новий пароль" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <!-- Поле для аватарки -->
                <div class="form-group mb-3">
                    <label asp-for="ProfileAvatar" class="form-label"><strong>Аватарка</strong></label>
                    <input type="file" asp-for="ProfileAvatar" class="form-control" />
                    <span asp-validation-for="ProfileAvatar" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-lg">
                        <i class="bi bi-save"></i> Зберегти
                    </button>
                </div>
            </form>

        </div> 
    </div>
</div>
