@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Курси";
}

<h2>Список курсів</h2>

@if (ViewBag.Cources != null )
{
    <table class="table">
        <thead>
            <tr>
                <th>Назва курсу</th>
                <th>Опис</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in ViewBag.Cources)
            {
                <tr>
                    <td>@course.TitleCource</td>
                    <td>@course.Description</td>
                    <td>
                        <a asp-action="DetailCource" asp-route-id="@course.Id" asp-area="Administrator" class="btn btn-info">Деталі</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Курси не знайдено.</p>
}

<a href="@Url.Action("CreateCource", "Cources", new { area = "Administrator" })" class="btn btn-primary">Додати новий курс</a>
