@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Курси";
    var cources = ViewBag.Cources as IEnumerable<PlatformEducationWorkers.Core.Models.Cources>;
}
@model IEnumerable<PlatformEducationWorkers.Core.Models.Cources>

<h2>Список курсів</h2>

<table class="table">
    <thead>
        <tr>
            <th>Назва курсу</th>
            <th>Опис</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in ViewBag.Cources)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.Description</td>
                <td>
                    <a asp-action="Detail" asp-route-id="@course.Id" asp-area="Administrator" class="btn btn-info">Деталі</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<a href="@Url.Action("Create", "Cources")" class="btn btn-success">Додати новий курс</a>
