@using PlatformEducationWorkers.Core.Models
@{
    Layout = "~/Views/Shared/_LayoutWorker.cshtml";
    ViewBag.Title = "Непройдені Курси";
}

<h2>Непройдені Курси</h2>

<table class="table">
    <thead>
        <tr>
            <th>Назва Курсу</th>
            <th>Опис</th>
            <th>Деталі</th>
            <th>Проходження</th> <!-- Додано новий стовпець для кнопки -->
        </tr>
    </thead>
    <tbody>
        @foreach (var course in ViewBag.UncompletedCources as IEnumerable<Cources>)
        {
            <tr>
                <td>@course.TitleCource</td>
                <td>@course.Description</td>
                <td>
                    <a href="@Url.Action("DetailCource", "Cources", new { area = "Worker", id = course.Id })" class="btn btn-primary">Деталі</a>
                </td>

                <td>
                    <a href="@Url.Action("PassageCource", "Cources", new {area = "Worker", courseId = course.Id })" class=" btn btn-success">Пройти курс</a>

                </td>

                
            </tr>
        }
    </tbody>
</table>