@using PlatformEducationWorkers.Core.Models

@{
    Layout = "~/Views/Shared/_LayoutWorker.cshtml";
   // ViewBag.Title = "Theory Course";
    //var cource = ViewBag.Course as Cources;
}
 

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h2>@ViewBag.Course.TitleCource</h2>
        </div>
        <div class="card-body">
            <h4 class="text-secondary">Опис:</h4>
            <p class="text-muted">@ViewBag.Course.Description</p>

             <h4 class="text-secondary">Вміст курсу:</h4>
            <p class="bg-light p-3 rounded">@ViewBag.Course.ContentCourse</p>

            <h4 class="text-secondary">Показ правильних відповідей:</h4>
            <p class="text-muted">
            @if (ViewBag.Course.ShowCorrectAnswers)
                {
                    <span class="badge bg-success">Так</span>
                }
                else
                {
                    <span class="badge bg-danger">Ні</span>
                }
            </p> 

             <h4 class="text-secondary">Показ обраних відповідей:</h4>
            <p class="text-muted">
            @if (ViewBag.Course.ShowSelectedAnswers)
                {
                    <span class="badge bg-success">Так</span>
                }
                else
                {
                    <span class="badge bg-danger">Ні</span>
                }
            </p> 

             <h4 class="text-secondary">Показ контекста піл час проходження:</h4>
            <p class="text-muted">
            @if (ViewBag.Course.ShowContextPassage)
                {
                    <span class="badge bg-success">Так</span>
                }
                else
                {
                    <span class="badge bg-danger">Ні</span>
                }
            </p> 
        </div>
        <a href="@Url.Action("Index", "Cources", new { area = "Worker" })" class="btn btn-secondary">Назад до курсів</a>

    </div>
   
</div>
