@using PlatformEducationWorkers.Core.Models
@{
    Layout = "~/Views/Shared/_LayoutWorker.cshtml";
    ViewBag.Title = "Непройдені Курси";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h2>Непройдені Курси</h2>
        </div>
        <div class="card-body">
            <table class="table table-hover table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Назва Курсу</th>
                        <th>Опис</th>
                        <th>Теорія</th>
                        <th>Проходження</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in ViewBag.UncompletedCources as IEnumerable<Courses>)
                    {
                        <tr>
                            <td>@course.TitleCource</td>
                            <td>@course.Description</td>
                            <td>
                                <a href="@Url.Action("TheoryCourse", "Courses", new { area = "Worker", courseId = course.Id })" class="btn btn-success">
                                    Теорія
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("PassageCourse", "Courses", new { area = "Worker", courseId = course.Id })" class="btn btn-success">
                                    Пройти курс
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



